@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-gradient-primary {
  background: linear-gradient(to right, #00a7c3, #3bb6ae, #145b6f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-primary-1 {
  background: linear-gradient(to right, #15667d, #3bb6ae, #00a7c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-primary-2 {
  background: linear-gradient(to right, #4da3bb, #3bb6ae, #00a7c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-primary-3 {
  background: linear-gradient(to right, #75f7f7, #277878, #cafffd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-size-18 {
  font-size: 18px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.highlight-text {
  color: var(--si-green-700);
}

.text-dark {
  color: #0f1011 !important;
}

.text-danger {
  color: red;
}

.bg-dark {
  background: var(--si-gray-900) !important;
}

.bg-light {
  background: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.container {
  width: 1080px;
  margin: auto;
}

.fvh {
  height: 100vh !important;
}

.vh-80 {
  height: 86vh !important;
}

.container-bg {
  width: 100%;
  margin: auto;
  min-height: 500px;
  /* background: var(--si-green-50); */
  background: linear-gradient(#bae0e0, #cff3f3, #bbdbd9);
  position: relative;
}

:root {
  --si-green-900: #0B6477;
  --si-green-700: #01859d;
  --si-green-100: #cafffd;
  --si-green-400: #5faab1;
  --si-green-50: #effefe;
  --si-green-300: #59feff;
  --si-white: #fff;
  --si-gray-100: #f3f6ff;
  --si-gray-200: #eff2fc;
  --si-gray-300: #e2e5f1;
  --si-gray-400: #d4d7e5;
  --si-gray-500: #b4b7c9;
  --si-gray-600: #9397ad;
  --si-gray-700: #565973;
  --si-gray-800: #33354d;
  --si-gray-900: #0f1011;
}

body {
  /* background: var(--si-gray-100); */
  font-family: 'Manrope';
  font-size: 16px;
}

.d-flex {
  display: flex;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--si-gray-900);
}

li {
  list-style: none;
}

label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

select,
option,
textarea,
input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
button[type="submit"] {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--si-gray-400);
  font-size: 14px;
  font-weight: lighter;
  border-radius: 5px;
  display: block;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

option {
  color: var(--si-gray-300);
}

input,
textarea,
select:focus {
  outline: none;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #00a7c3;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  transition: opacity 0.3s;
  z-index: 15000;
}

#backToTop:hover {
  background-color: #00a7c3;
}

.hide {
  display: none;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-6 input {
  width: 100%;
  box-sizing: border-box;
}

.col {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 440px) {
  .col-mb {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .pl-5 {
    padding-left: -10px;
  }

  #keyword {
    margin-left: -5px;
  }
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.mg {
  margin: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mg-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pd-10 {
  padding: 10px;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pd-20 {
  padding: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.price-old {
  text-decoration: line-through;
}

.price-new {
  font-weight: bold;
}

.btn-icon {
  border: 1px solid var(--si-gray-300);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-tag {
  border: none;
  padding: 3px 5px;
  margin-bottom: 10px;
  background: var(--si-green-400);
  color: var(--si-gray-200);
  font-weight: lighter;
  font-size: 14px;
  border-radius: 5px;
}

.btn-login {
  padding: 10px 20px;
  background: var(--si-gray-300);
  color: var(--si-gray-900);
  border-radius: 10px;
  cursor: pointer;
  font-weight: lighter;
  transition: background-color 0.3s ease;
}

.btn-cart {
  padding: 10px 20px;
  background: var(--si-green-400);
  color: var(--si-gray-900);
  font-weight: lighter;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn-sale {
  border: none;
  background: rgb(243, 106, 56);
  padding: 0 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: lighter;
}

.btn-more {
  position: relative;
  top: 10px;
  padding: 10px 25px;
  border: none;
  background: var(--si-green-100);
  color: var(--si-green-700);
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.4s ease;
}

.btn-more:hover {
  background: var(--si-green-700);
  color: white;
}

.btn-login:hover {
  background: var(--si-gray-400);
}

.btn-cart:hover {
  background: var(--si-green-700);
  color: white;
}

.title {
  text-align: center;
}

.boder-bottom {
  border-bottom: 1px solid var(--si-gray-300);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown div a {
  color: #01859d;
}

.dropdown-items {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style-type: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
  border-radius: 10px;
  line-height: none;
}

.dropdown-items li {
  display: block;
  padding: 8px;
}

.dropdown-items li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}

.dropdown-items li:hover>a {
  color: var(--si-green-900);
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-items.show {
  display: block;
}

header {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 5000;
  background: #fff;
  height: 62px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: bold;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}

header.fixed {
  position: fixed;
}


.container-header {
  grid-template-columns: 2fr 5fr 3fr;
  max-width: 1080px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
}

.container-header-box {
  align-items: center;
  gap: 20px;
  display: flex;
  margin-left: 20px;
  font-weight: lighter;
}

.container-header-box>div a {
  color: #00a7c3;
}

.container-header-box>.cl-box>a:hover {
  color: #064f60;
}

.container-header-img img {
  width: 150px;
  height: auto;
}

.bg-secondary {
  background: #f6f7f9 !important;

}

@media (max-width: 1030px) {
  .container {
    width: 1024px;
    margin: auto;
  }

  header {
    font-size: 14px
  }

  .btn-cart {
    padding: 5px;
  }

  .btn-login {
    padding: 5px;
  }

  .sz-s {
    display: none !important;
  }

  .container-header-img img {
    width: 75px;
    height: auto;
    margin-left: 20px;
  }
}

@media (max-width: 440px) {
  .container {
    width: 440px;
    margin: auto;
  }

  .container-header-box {
    display: none;
  }

  header {
    width: 100% !important;
  }

  .menubar {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 20px;
  }

}

.dialogMenu {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
}

.clear-both {
  clear: both;
}

.menuBox {
  padding: 20px;
  /* border-bottom: 1px solid #ddd; */
}

.box-titleMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.box-mainMenu {
  flex: 7;
  display: grid;
  grid-auto-rows: 50px;
  align-items: center;
  padding: 10px;
  /* height: calc(84vh - 11px); */
}

@media (max-width: 440px) {
  #dialogMenu {
    max-height: 100%;
    height: 100vh !important;
    position: fixed;
  }

  .menuBox.clear-both {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  #dialogMenu {
    width: 80%;
    left: auto;
    right: 0;
    transform: translateX(-50%);
    height: 100vh;
    top: 0;
    transform: none;
    animation: fade-in 0.2s ease-in-out;
    border: none;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .dropdown {
    position: relative;
  }

  .dropdown-btn {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    margin-left: 10px;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid var(--si-green-900);
    border-radius: 4px;
  }

  .dropdown-content a {
    display: block;
    font-weight: normal;
    font-size: 14px;
    padding: 8px 12px;
  }

  .dropdown-content a:hover {
    background-color: #f0f0f0;
  }

  .show {
    display: block;
  }

  .sz-s {
    display: inline-block !important;
  }

  .btn-cart,
  .btn-login {
    padding: 11px 20px;
    margin-bottom: 10px;
  }
}

.service-web {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 440px) {
  .service-web {
    grid-template-columns: 1fr;
  }
}

.service-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-box-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to right, #4da3bb, #3bb6ae, #00a7c3);
}

.source {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.source-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media (max-width: 440px) {
  .source-container {
    display: flex;
    flex-direction: column;
  }

  .source-container-search,
  .source-container-item {
    width: 100%;
  }

  .source-container>.source-3 {
    grid-template-columns: 1fr;
    padding-left: 20px;
  }

  .source-3>.source-box {
    width: 100% !important;
  }

  #source .source-box {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .source-3 {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 20px;
  }

  .source {
    grid-template-columns: repeat(3, 1fr);
  }

  .soure-box-text {
    width: 100%;
    min-height: 100px;
    position: relative;
    display: inline-block;
  }

  .soure-box-text h3 {
    bottom: 0;
    padding: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Giới hạn số dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2em * 2);
  }
}

@media (max-width: 440px) {
  .source {
    grid-template-columns: 1fr;
  }

  .source-box {
    display: none;
  }

  .source-box:first-of-type {
    display: block;
  }

  .soure-box-text {
    width: 100%;
    min-height: 100px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }
}

.source-box {
  width: 100%;
  min-height: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  /* border-radius: 15px; */
  min-height: 350px;
}

.soure-box-text {
  width: 100%;
}

.source-box-img {
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.source-box-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.soure-box-text h3 {
  padding: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Giới hạn số dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2em * 2);
}

.soure-box-text h3 a:hover {
  color: var(--si-green-700);
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}


@media (max-width: 440px) {
  .container {
    width: 100%;
    margin: auto;
  }

  .blog {
    grid-template-columns: 1fr !important;
  }

  #home .blog-box {
    display: none;
    width: 100%;
  }

  #home .blog-box:first-of-type {
    display: block;
  }

  #blog .blog-box {
    display: block;
  }

  .col-4 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blog-box {
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
}

.blog-box-img {
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  /* border-bottom-left-radius: 0 !important; */
  /* border-bottom-right-radius: 0 !important; */
}

.blog-box-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* Giữ tỷ lệ ảnh, làm đầy khung mà không méo */
}

.blog-box-text {
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  min-height: 150px;
  max-height: 200px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.time-blog {
  position: absolute;
  bottom: 15px;
}

.blog-box-text h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-box-text p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-box-text h3 a:hover {
  color: var(--si-green-700);
}

.bg-form-contact {
  background: linear-gradient(to right, #188598, #3bb6ae, #188598);
}

.form-contact {
  width: 90%;
  margin: auto;
  min-height: 300px;
  border-radius: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 4fr 6fr;
  padding: 40px;
  z-index: 1000;
  position: relative;
}

.form-contact-box-1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: white;
}

.form-contact-box-2 {
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

@media (max-width: 440px) {
  .form-contact-box-2 {
    padding: 0;
  }
}

.inputFrom-contact {
  width: 100%;
}

.inputFrom-contact>.form-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  background: red;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100% !important;
  min-height: 50px;
  background: #fff;
  border-top: 1px solid var(--si-gray-300);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blog footer {
  padding: 0px;
  text-align: center;
}

#contact footer {
  padding: 0px;
  text-align: center;
}

#login footer {
  padding: 0px;
  text-align: center;
}

@media (max-width: 440px) {
  footer {
    position: relative;
  }

  .form-contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .form-contact-box-1 {
    grid-template-rows: repeat(2, 1fr);
  }

  footer {
    padding: 20px;
    text-align: center;
  }
}

.login-form {
  width: 50%;
  margin: auto;
  min-height: 75vh;
  /* background: var(--si-gray-300); */
  padding: 45px 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 440px) {
  .login-form {
    width: 100%;
  }
}

@media (max-width: 1030px) {
  .login-form {
    width: 100%;
  }
}

.select-source {
  border: 1px solid var(--si-gray-300);
  padding: 20px 10px;
  border-radius: 5px;
}